body {
  background-color: black;
}

.projects_frame {
  padding-left: 10%;
  padding-right: 10%;
}

.project-balloon {
  width: 90%;
  height: 30em;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1em;
}
