body {
  background-color: black;
}

.projects_frame {
  margin-left: 8%;
}

.project-balloon {
  width: 90%;
  height: 30em;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 2em;
}
